body {
    width: 100%;
    overflow-y: auto;
}
/* Block parts */
#title {
    font-size: 80px;
}
#subtitle {
    font-size: 24px;
}
#content {
    width: 80%;
}
.version {
    font-size: 20px;
}
h5 {
    font-size: 14px;
    margin: 2px auto;
}
#credits {
    padding: 20px 10%;
    font-size: 15px;
    text-align: center;
}
/* Authors */
h4 {
    margin: 7px auto 24px auto;
    font-size: 32px;
}
.author {
    width: 100%;
    max-width: 600px;
}
.author .pp {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.1);
}
.name {
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #009cea;
}
.res {
    margin-top: 9px;
}
.res a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.changelog {
    display: block;
    background-color: #f3f3f3;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 30px;
    padding: 7px 7px 7px 14px;
    list-style-type: none;
    font-size: 13px;

    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.changelog li b {
    background-color: rgb(33, 33, 37);
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
    line-height: 20px;
}
.version {
    display: block;
    background-color: #009cea;
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 15px;

    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}