body {
    display: block;
    box-sizing: border-box;
    width: 400px;
    margin: 0;
    font-family: 'Arial';
    overflow: hidden;
}
/* Block parts */
#title {
    display: block;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}
#title span {
    color: #009cea;
}
#subtitle {
    display: block;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
#subtitle a {
    color: #009cea;
}
#content {
    display: block;
    margin: 20px auto;
    padding: 0px 15px;
}
#credits {
    display: block;
    padding: 15px 15px;
    background-color: rgb(20, 20, 27);
    color: white;
    font-size: 12px;
    text-align: justify;
}
#credits p {
    margin: 20px auto 5px auto;
}
#credits a {
    color: #009cea;
}

/* Version */
.version {
    display: block;
    background-color: #009cea;
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 15px;

    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.changelog {
    display: block;
    background-color: #f3f3f3;
    margin: 0;
    padding: 7px 7px 7px 14px;
    list-style-type: none;
    font-size: 13px;

    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.changelog li b {
    background-color: rgb(33, 33, 37);
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
    line-height: 20px;
}
.btn {
    display: block;
    width: max-content;
    background-color: #009cea;
    color: white;
    padding: 4px 6px;
    border-radius: 8px;
    border: none;
    margin: 5px auto 0px auto;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}


/* Authors */
h4 {
    display: block;
    margin: -2px auto 2px auto;
    text-align: center;
    font-size: 14px;
}
.author {
    display: flex;
    width: 80%;
    margin: 12px auto;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 60px;
}
.author .pp {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.1);
}
.author .info {
    box-sizing: border-box;
    padding: 5px 0;
    flex: 0.85;
    text-align: center;
}
.name {
    line-height: 24px;
    font-size: 18px;
    font-weight: 700;
    color: #009cea;
}
.res {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6px;
}
.res a {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0 8px;
    transition: 0.15s;
}
.res a:hover {
    transform: scale(1.1);
}
.twitter {
    background-color: #1DA1F2;
    background-image: url('../icons/twitter.png');
}
.github {
    background-color: black;
    background-image: url('../icons/github.png');
}
.web {
    background-color: rgb(84, 125, 250);
    background-image: url('../icons/web.png');
}