.content div {
    position: relative;
}
#panel {
    box-sizing: border-box;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 187px;
    background: rgb(26, 26, 26);
}
#panel p {
    margin-bottom: 2px;
}
#panel input {
    margin-bottom: 20px;
}

#control {
    color: #666;
}
button {
    border: 1px solid #666;
    color: #666;
    background: black;
    outline: none;
}
button:focus {
    border: 1px solid #888;
    color: #888;
}
video:focus {
    outline: none;
}