#panel {
    box-sizing: border-box;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 187px;
    background: rgb(26, 26, 26);
}
#panel p {
    margin-bottom: 2px;
}
#panel input,#panel button {
    margin-bottom: 20px;
}
.control {
    color: #666;
    min-width: 600px!important;
}
.controlDataVideo {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 300px;
    transform: translate(-50%, 0%);
}
#booruLink {
    margin-top: 20px;
    display: inline-block;
}
#divGif {
    margin: auto;
    text-align: center;
}
#currentArtist {
    padding-left: 20px;
}
.gif {
    display: flex;
}
input[type="range"] {
    filter: grayscale(1);
}
button {
    border: 1px solid #666;
    color: #666;
    outline: none;
    background-color: transparent;
}
button:focus {
    border: 1px solid #888;
    color: #888;
}
video:focus {
    outline: none;
}
.timecode {
    color: #ffc8c8;
    cursor: pointer;
}
.timecode:hover {
    color: #ee8887;
}
