#panel {
    box-sizing: border-box;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 187px;
    background: rgb(26, 26, 26);
}
#panel p {
    margin-bottom: 2px;
}
#panel input,#panel button {
    margin-bottom: 20px;
}
.frame-control {
    display: flex;
    align-items: stretch;
    color: #666;
    min-width: 600px!important;
}
.frame-button {
    width: 40px;
}
.frame-info {
    text-align: center;
    margin: 2px 14px 0px;
}
.input-number {
    text-align: right;
    padding: 4px 4px 4px 4px;
    background-color: transparent !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
}
#total-frame::before, #total-timestamp::before {
    content: ' / ';
}

.controlDataVideo {
    position: fixed;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-top: 300px;
    transform: translate(-50%, 0%);
}
#booruLink {
    display: block;
    position: absolute;
    font-size: 14px;
    font-family: Tahoma;
    transform: translate(0, 200%);
}
#divGif {
    margin: auto;
    text-align: center;
}
#current-artist {
    align-self: center;
    flex: 1;
    padding: 0 20px;
}
.gif {
    display: flex;
}
input[type="range"] {
    filter: grayscale(1);
}
button {
    border: 1px solid #666;
    color: #666;
    outline: none;
    background-color: transparent;
}
button:focus {
    border: 1px solid #888;
    color: #888;
}
video:focus {
    outline: none;
}
.timecode {
    color: #ffc8c8;
    cursor: pointer;
}
.timecode:hover {
    color: #ee8887;
}
