.thumb {
    position: relative;
}
.thumb img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
video {
    position: relative;
    top: 0;
    z-index: 1;
}
.post-detail {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #222;
    z-index: 3;
}
.post-hover {z-index:4!important;}
.post-hover-overlay {z-index:4!important;}
.score {
    display: block;
    font-size: 14px;
    color: #ee8887;
    font-weight: 700;
}
.tags {
    display: -webkit-box;
    max-height: 26px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    font-size: 10px;
    line-height: 12px;
    color: rgb(78, 78, 78);
}
.authors {color: rgb(119, 118, 97);}
.series {color: rgb(128, 105, 138);}
.styles {color: rgb(85, 116, 80);}
.presumed {color: rgb(146, 115, 115);}