:root {
    --main-bg: rgb(34, 34, 34);
    --main-bg2: rgb(27, 27, 27);
    --main-bg3: rgb(20, 20, 20);
    --main-header-bg: var(--main-color);
    --main-header-color: white;

    --main-text: rgb(233, 233, 233);
    --main-color: rgb(234, 0, 45);
    --main-link: rgb(255, 100, 100);

    --main-video-bg: rgb(0, 0, 0);
    --main-video-bg2: rgb(10, 10, 10);
    --main-video-bg3: rgb(20, 20, 20);
    --main-video-header: var(--main-color);

    --tag-artist: #cccc00;
    --tag-copyright: #D0D;
    --tag-meta: #CE0B0B;
    --tag-general: #d4d3c9;
}